<section class="contact-section" id="Contact" data-section>
  <div class="container">
    <div class="accordeon_element" data-accordeon>
      <h2 class="section_title">Contact</h2>
      <button class="accordeon_element_btn" data-type="open">
        <svg
          class="accordeon_element_btn_icon"
          width="66"
          height="66"
          viewBox="0 0 32 32"
        >
          <use href="/img/sprite.svg#accordeon_open"></use>
        </svg>
      </button>
      <button
        class="accordeon_element_btn"
        data-type="close"
        style="display: none"
      >
        <svg
          class="accordeon_element_btn_icon"
          width="66"
          height="66"
          viewBox="0 0 32 32"
        >
          <use href="/img/sprite.svg#accordeon_close"></use>
        </svg>
      </button>
    </div>

    <div class="contact-about accordeon-content" data-visible-section="false">
      <p class="contact-p contact-p-mob-only">
        Have a question, feature suggestion, or just want to say hi? We’d love
        to hear from you. Our team is passionate about making the most relaxing
        and rewarding tile game possible, and your input helps us grow.
      </p>
      <div class="contact-email-container">
        <div class="contact-gallery">
          <img
            class="contact-img"
            src="/img/Knee-High Cartoon Girl desk 1x.webp"
            srcset="/img/Knee-High Cartoon Girl desk 1x.webp 1x, /img/Knee-High Cartoon Girl desk 2x.webp 2x"
            alt="руда дівчина тримає великий полець угору"
          />
        </div>
        <div class="contact-content">
          <p class="contact-p contact-p-desk-only">
            Have a question, feature suggestion, or just want to say hi? We’d
            love to hear from you. Our team is passionate about making the most
            relaxing and rewarding tile game possible, and your input helps us
            grow.
          </p>
          <div class="contact-email">
            <a href="mailto:info@proway.online" class="contact-email-text"
              >Email: info@proway.online</a
            >
            <p class="contact-p-desk-only">
              We aim to respond within 48 hours on weekdays. Business
              partnerships, content creator inquiries, and media requests are
              also welcome. Let’s make something great together.
            </p>
          </div>
        </div>
      </div>
      <p class="contact-p contact-p-mob-only">
        We aim to respond within 48 hours on weekdays. Business partnerships,
        content creator inquiries, and media requests are also welcome. Let’s
        make something great together.
      </p>
    </div>
  </div>
</section>
