<div class="cookie_police_background_box" data-cookie-box>
    <div class="cookie_police_box">
        <div class="container">
            <h2 class="cookie_police_title">Cookies Policy</h2>
            <p class="cookie_police_text">We use cookies to improve your experience on our website. By browsing this
                website, you agree to our use of cookies.</p>
            <div class="cookie_police_buttons_box">
                <button type="button" class="cookie_police_button accept_button" data-accept>Accept cookies</button>
                <button type="button" class="cookie_police_button decline_button" data-decline>Decline cookies</button>
            </div>
        </div>
    </div>
</div>