<section class="features_section" data-section>
    <div class="container">
        <div class="accordeon_element" data-accordeon>
            <h2 class="section_title">Features</h2>

            <button class="accordeon_element_btn" data-type="open">
                <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
                    <use href="img/sprite.svg#accordeon_open"></use>
                </svg>
            </button>

            <button class="accordeon_element_btn" data-type="close" style="display: none;">
                <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
                    <use href="img/sprite.svg#accordeon_close"></use>
                </svg>
            </button>
        </div>

        <div class="features_about accordeon-content" data-visible-section="false">
            <div class="feature_about_block">
                <h3 class="third_title features_title">About the Game</h3>
                <div class="features_about_top">
                    <p class="features_about_text">
                        Tiles Tap: Triple Tile Match is more than just a casual mobile puzzle — it’s a carefully
                        designed experience that blends
                        mental stimulation with moments of peace. Built with modern design principles and deep user
                        feedback, the game offers
                        elegant tile visuals, satisfying audio feedback, and smooth interactions that create a soothing,
                        tactile feeling with every tap.
                    </p>
                    <div class="features_about_images">
                        <img src="img/features/features_image_first.png"
                            srcset="img/features/features_image_first.png 1x, img/features/features_image_first_2x.png 2x"
                            alt="" class="features_about_top_image">
                        <img src="img/features/features_image_second.png"
                            srcset="img/features/features_image_second.png 1x, img/features/features_image_second_2x.png 2x"
                            alt="" class="features_about_top_image">
                    </div>
                </div>
                <div class="features_about_bottom">
                    <div class="features_about_images">
                        <img src="img/features/features_image_third.png"
                            srcset="img/features/features_image_third.png 1x, img/features/features_image_third_2x.png 2x"
                            alt="" class="features_about_bottom_image">
                        <img src="img/features/features_image_fourth.png"
                            srcset="img/features/features_image_fourth.png 1x, img/features/features_image_fourth_2x.png 2x"
                            alt="" class="features_about_bottom_image">
                    </div>
                    <p class="features_about_text">
                        The game invites you into a visually charming environment
                        filled with carefully matched color palettes and intuitive mechanics. Every tile design — from
                        fruits to jewels to
                        nature-themed pieces — is chosen to enhance your focus and relaxation. Whether you’re waiting in
                        line, winding down at night,
                        or taking a mindful break during your workday, this game adapts to your time and energy without
                        demanding more than you want to give.
                    </p>
                </div>
            </div>

            <div class="features_block">
                <h3 class="third_title features_title">Features</h3>
                <ul class="features_block_list">
                    <li class="features_block_list_item">
                        <div class="features_block_img_box">
                            <img src="/img/features/feature_section_heart.png" alt="" class="features_block_item_img"
                                width="68" height="68">
                        </div>
                        <h4 class="subtitle features_block_item_title">Lorem ipsum non</h4>
                        <p class="features_block_item_text">Lorem ipsum dolor sit amet consectetur gravida sit faucibus
                            urna tincidunt.</p>
                    </li>
                    <li class="features_block_list_item">
                        <div class="features_block_img_box">
                            <img src="/img/features/feature_section_rubin.png" alt="" class="features_block_item_img"
                                width="68" height="80">
                        </div>
                        <h4 class="subtitle features_block_item_title">Lorem ipsum non</h4>
                        <p class="features_block_item_text">Lorem ipsum dolor sit amet consectetur gravida sit faucibus
                            urna tincidunt.</p>
                    </li>
                    <li class="features_block_list_item">
                        <div class="features_block_img_box">
                            <img src="/img/features/feature_section_fire.png" alt="" class="features_block_item_img"
                                width="82" height="84">
                        </div>
                        <h4 class="subtitle features_block_item_title">Lorem ipsum non</h4>
                        <p class="features_block_item_text">Lorem ipsum dolor sit amet consectetur gravida sit faucibus
                            urna tincidunt.</p>
                    </li>
                    <li class="features_block_list_item">
                        <div class="features_block_img_box">
                            <img src="/img/features/feature_section_star.png" alt="" class="features_block_item_img"
                                width="80" height="84">
                        </div>
                        <h4 class="subtitle features_block_item_title">Lorem ipsum non</h4>
                        <p class="features_block_item_text">Lorem ipsum dolor sit amet consectetur gravida sit faucibus
                            urna tincidunt.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
  