<footer class="footer-section">
  <hr class="footer-divider" />

  <div class="container hero-container">
    <button class="svg-scroll-container" id="scrollToTop">
      <svg class="icon icon-page-up" viewBox="0 0 20 32" width="20">
        <use href="/img/sprite.svg#icon-page-up"></use>
      </svg>
    </button>
    <div class="footer-nav">
      <p class="footer-p">Designed with passion, powered by calm</p>
      <ul class="footer-menu">
        <li class="footer-li">
          <a href="./privacy-policy.html">Privacy Policy</a>
        </li>
        <li class="footer-li">
          <a href="./terms-and-conditions.html">Terms of Use</a>
        </li>
        <li class="footer-li">
          <a href="./cookies-policy.html">Cookie Policy</a>
        </li>
      </ul>
    </div>
    <div class="footer-legal">
      <p>© 2025 Proway.online. All rights reserved</p>
      <p>All trademarks referenced belong to their respective owners</p>
    </div>
  </div>
</footer>
