<header class="header" data-visible-header="true">
  <div class="container">
    <div class="header_mobile">
      <img src="/img/logo.png" alt="Logo" class="header_logo" width="32" height="32" />
      <button class="header_mobile_menu_button" data-action="open">
        <svg width="24" height="16" viewBox="0 0 24 16">
          <use href="/img/sprite.svg#header_mobile_menu_button"></use>
        </svg>
      </button>
    </div>
    <nav class="nav header_nav">
      <ul class="header_nav_left">
        <li class="font_menu header_menu_item"><a href="/index.html" class="header_nav_link">Home</a></li>
        <li class="font_menu header_menu_item"><a href="#Features" class="header_nav_link">Features</a></li>
        <li class="font_menu header_menu_item"><a href="#Screenshots" class="header_nav_link">How to Play</a></li>
      </ul>

      <div class="nav_center">
        <svg class="nav_center_shape" viewBox="0 0 124 32" width="100%" height="100%">
          <use href="/img/sprite.svg#header_trapezoid"></use>
        </svg>

        <div class="nav_center_content">
          <img src="/img/logo.png" alt="Logo" class="header_logo" width="56" height="56" />
          <a href="https://play.google.com/store/apps/details?id=tap.tiles.triple.match&hl=en&gl=us"
            class="font_menu header_game_name">Tiles Tap: Triple Tile Match</a>
        </div>
      </div>

      <ul class="header_nav_right">
        <li class="font_menu header_menu_item"><a href="#HowToPlay" class="header_nav_link">Screenshots</a></li>
        <li class="font_menu header_menu_item"><a href="#FAQ" class="header_nav_link">FAQ</a></li>
        <li class="font_menu header_menu_item"><a href="#Contact" class="header_nav_link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>