<section class="hero-section">
  <div class="container">
    <div class="hero-left">
      <h1 class="title-hero first_title"><span>Tiles Tap: </span>Triple Tile Match</h1>
      <p class="p-hero">
        Join thousands of players in Tiles Tap: Triple Tile Match, the game that
        transforms simple tapping into a satisfying, brain-boosting experience
      </p>
    </div>
      <div class="button-div-hero">
        <button class="button-hero button_text"
          onclick="window.location.href='https://play.google.com/store/apps/details?id=tap.tiles.triple.match&hl=en&gl=us '">
          <img class="hero-icon" src="/img/google-play-svgrepo-com 1.svg" alt="Іконка" width="40" height="40" />
          Download now
        </button>
        <div class="hero-box">
          <p class="hero-box-text">
            Challenge your mind, match vibrant tiles, and unwind in a world of
            puzzle delight
          </p>
        </div>
      </div>
    <div class="hero-gallery">
      <img class="hero-img img-1" src="/img/image 58.jpg" alt="Mystic Magic card" width="300" />
      <img class="hero-img img-2" src="/img/photo_7_2025-06-12_19-35-55.jpg" alt="Tap Tiles card" width="300" />
    </div>
  </div>
</section>