<section class="how_to_play_section" id="HowToPlay" data-section>
    <div class="container">
        <div class="accordeon_element" data-accordeon>
            <h2 class="section_title">How to Play</h2>

            <button class="accordeon_element_btn" data-type="open">
                <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
                    <use href="img/sprite.svg#accordeon_open"></use>
                </svg>
            </button>

            <button class="accordeon_element_btn" data-type="close" style="display: none;">
                <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
                    <use href="img/sprite.svg#accordeon_close"></use>
                </svg>
            </button>
        </div>

        <div class="how_to_play_section_content accordeon-content" data-visible-section="false">
            <div class="how_to_play_box">
                <h3 class="third_title how_to_play_box_title">How To Play</h3>
                <div class="how_to_play_box_swiper">
                    <div class="swiper how_to_play_swiper" data-swiper1>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/first_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/second_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/third_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/first_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/second_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/third_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/first_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/second_image.png" alt="" width="337" height="234">
                            </div>
                            <div class="swiper-slide how_to_play_box_swiper_slide">
                                <img src="/img/how_to_play/third_image.png" alt="" width="337" height="234">
                            </div>
                        </div>
                    </div>
                    <div class="how_to_play_box_swiper_navigation_box">
                        <div class="swiper-button-prev how_to_play_box_swiper_button_prev" data-prev-button1>
                            <svg class="icon icon-Vector-3" height="40" width="40" viewBox="0 0 23 32">
                                <use href="/img/sprite.svg#icon-Vector-3"></use>
                            </svg>
                        </div>
                        <div class="swiper-pagination how_to_play_box_swiper_pagination" data-pagination1></div>
                        <div class="swiper-button-next how_to_play_box_swiper_button_next" data-next-button1>
                            <svg class="icon icon-Vector-3" height="40" width="40" viewBox="0 0 23 32">
                                <use href="/img/sprite.svg#icon-Vector-3"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="how_to_play_slider_text" data-howToPlaySliderText></div>
            </div>
            <div class="how_to_play_addictive_gameplay_box">
                <h3 class="how_to_play_addictive_gameplay_box_title third_title">Addictive Gameplay</h3>
                <div class="how_to_play_addictive_gameplay_box_text_images">
                    <p class="how_to_play_addictive_gameplay_box_text how_to_play_addictive_gameplay_box_text_left">
                        Tiles Tap thrives on simplicity and depth — the
                        classic “easy to learn, hard to master” formula. At its core, the game
                        revolves around matching three identical tiles to remove them from the tray. What begins as a
                        straightforward task
                        quickly becomes a satisfying challenge as new mechanics are introduced — like multi-layered
                        tiles,
                        hidden items,
                        rotating trays, and time-based bonuses.</p>
                    <div>
                        <div class="how_to_play_addictive_gameplay_box_images_list">
                            <img src="/img/how_to_play/first_addictive_gameplay_image_1x.png"
                                srcset="/img/how_to_play/first_addictive_gameplay_image_1x.png 1x, /img/how_to_play/first_addictive_gameplay_image_2x.png 2x"
                                alt="" class="how_to_play_addictive_gameplay_box_image">
                            <img src="/img/how_to_play/second_addictive_gameplay_image_1x.png"
                                srcset="/img/how_to_play/second_addictive_gameplay_image_1x.png 1x, /img/how_to_play/second_addictive_gameplay_image_2x.png 2x"
                                alt="" class="how_to_play_addictive_gameplay_box_image">
                            <img src="/img/how_to_play/third_addictive_gameplay_image_1x.png"
                                srcset="/img/how_to_play/third_addictive_gameplay_image_1x.png 1x, /img/how_to_play/third_addictive_gameplay_image_2x.png 2x"
                                alt="" class="how_to_play_addictive_gameplay_box_image">
                        </div>
                    </div>
                    <p class="how_to_play_addictive_gameplay_box_text">The game invites you into a visually charming
                        environment filled with carefully matched color palettes and intuitive
                        mechanics. Every tile design — from fruits to jewels to nature-themed pieces — is chosen to
                        enhance
                        your focus and
                        relaxation. Whether you’re waiting in line, winding down at night, or taking a mindful break
                        during
                        your workday, this
                        game adapts to your time and energy without demanding more than you want to give</p>
                </div>
            </div>
            <div class="how_to_play_zen_mod_box">
                <h3 class="third_title how_to_play_zen_mod_title">Zen Mode</h3>
                <div class="how_to_play_zen_mod_content">
                    <p class="how_to_play_zen_mod_text how_to_play_zen_mod_text_top">Zen Mode is for those moments when
                        you want to unplug and decompress. In this mode, you’ll play without any limits — no
                        countdowns, no lives, no pressure. You’re free to experiment, explore tile sets, and match at
                        your leisure</p>
                    <ul class="how_to_play_zen_mod_images_list">
                        <li class="how_to_play_zen_mod_image_item"><img
                                src="/img/how_to_play/first_zen_mod_image_1x.png"
                                srcset="/img/how_to_play/first_zen_mod_image_1x.png 1x, /img/how_to_play/first_zen_mod_image_1x.png 2x"
                                alt="" class="how_to_play_zen_mod_image"></li>
                        <li class="how_to_play_zen_mod_image_item"><img
                                src="/img/how_to_play/second_zen_mod_image_1x.png"
                                srcset="/img/how_to_play/second_zen_mod_image_1x.png 1x, /img/how_to_play/second_zen_mod_image_1x.png 2x"
                                alt="" class="how_to_play_zen_mod_image"></li>
                        <li class="how_to_play_zen_mod_image_item"><img
                                src="/img/how_to_play/third_zen_mod_image_1x.png"
                                srcset="/img/how_to_play/third_zen_mod_image_1x.png 1x, /img/how_to_play/third_zen_mod_image_1x.png 2x"
                                alt="" class="how_to_play_zen_mod_image"></li>
                    </ul>
                    <p class="how_to_play_zen_mod_text how_to_play_zen_mod_text_bottom">This mode is a reflection of our
                        philosophy: games should not only entertain, but restore. Whether you’re meditating,
                        taking a break between meetings, or winding down before bed, Zen Mode offers a mental space of
                        calm where you can engage
                        without urgency. It’s a mindful feature in a noisy world, and a player favorite for daily
                        decompression</p>
                </div>
            </div>
            <div class="how_to_play_level_progression_box">
                <h3 class="how_to_play_level_progression_title third_title">Level Progression</h3>
                <div class="how_to_play_level_progression_content_top">
                    <img class="how_to_play_level_progression_image" src="/img/how_to_play/first_level_images_1x.png"
                        srcset="/img/how_to_play/first_level_images_1x.png 1x, /img/how_to_play/first_level_images_2x.png 2x"
                        alt="">
                    <p class="how_to_play_level_progression_text how_to_play_level_progression_text_top">Our level
                        system is designed with deliberate pacing
                        and escalating challenge. With over 400 handcrafted levels, each one
                        introduces new tile mechanics, board shapes, and visual themes. You’ll journey through
                        environments like tranquil
                        gardens, sparkling treasure vaults, icy caverns, and sunlit groves — each level pack providing
                        both visual variety and
                        puzzle depth</p>
                </div>
                <div class="how_to_play_level_progression_content_bottom">
                    <img class="how_to_play_level_progression_image" src="/img/how_to_play/second_level_images_1x.png"
                        srcset="/img/how_to_play/second_level_images_1x.png 1x, /img/how_to_play/second_level_images_2x.png 2x"
                        alt="">
                    <p class="how_to_play_level_progression_text how_to_play_level_progression_text_bottom">Levels are
                        grouped into progressive stages, with
                        milestone rewards after every major challenge. You’re not only playing
                        to beat a level, but to unlock the next set of aesthetics and experience something fresh. Every
                        few levels also
                        introduce “twist mechanics” — puzzles with mirrored tiles, rotating trays, or mystery blocks to
                        keep the experience
                        unexpected and engaging</p>
                </div>
            </div>

            <div class="how_to_play_boosters_box">
                <h3 class="how_to_play_boosters_title third_title">Boosters & Power-Ups</h3>
                <p class="how_to_play_boosters_text how_to_play_boosters_text_top">Sometimes a puzzle presents a tough
                    configuration — that’s where our power-ups come in. You’ll have access to a suite of
                    smart, non-disruptive boosters designed to support rather than solve the puzzle for you. These
                    include:</p>
                <ul class="how_to_play_boosters_list">
                    <li class="how_to_play_boosters_item">
                        <div class="how_to_play_boosters_item_image_box">
                            <img src="/img/how_to_play/booster_shiffle_1x.png"
                            srcset="/img/how_to_play/booster_shiffle_1x.png 1x, /img/how_to_play/booster_shiffle_2x.png 2x"
                            alt="booster shiffle" class="how_to_play_boosters_item_im" width="109" height="112">
                        </div>
                        <hgroup class="how_to_play_boosters_item_h_p_box">
                            <h4 class="subtitle how_to_play_boosters_item_title">Shuffle</h4>
                            <p class="how_to_play_boosters_item_text">Randomly rearrange remaining tiles to give you a
                                second chance</p>
                        </hgroup>
                    </li>
                    <li class="how_to_play_boosters_item">
                        <div class="how_to_play_boosters_item_image_box">
                            <img src="/img/how_to_play/booster_undo_1x.png"
                            srcset="/img/how_to_play/booster_undo_1x.png 1x, /img/how_to_play/booster_undo_2x.png 2x"
                            alt="booster undo" class="how_to_play_boosters_item_im" width="114" height="112"> 
                        </div>
                        <hgroup class="how_to_play_boosters_item_h_p_box">
                            <h4 class="subtitle how_to_play_boosters_item_title">Undo</h4>
                            <p class="how_to_play_boosters_item_text">Step back one move to reassess your strategy</p>
                        </hgroup>
                    </li>
                    <li class="how_to_play_boosters_item">
                        <div class="how_to_play_boosters_item_image_box">
                            <img src="/img/how_to_play/booster_hint_1x.png"
                            srcset="/img/how_to_play/booster_hint_1x.png 1x, /img/how_to_play/booster_hint_2x.png 2x"
                            alt="booster hint" class="how_to_play_boosters_item_im" width="101" height="102">
                        </div>
                        <hgroup class="how_to_play_boosters_item_h_p_box">
                            <h4 class="subtitle how_to_play_boosters_item_title">Hint</h4>
                            <p class="how_to_play_boosters_item_text">Reveal your next best move without spoiling the rest
                                of the puzzle</p>
                        </hgroup>
                    </li>
                    <li class="how_to_play_boosters_item">
                        <div class="how_to_play_boosters_item_image_box">
                            <img src="/img/how_to_play/booster_smart_breaker_1x.png"
                            srcset="/img/how_to_play/booster_smart_breaker_1x.png 1x, /img/how_to_play/booster_smart_breaker_2x.png 2x"
                            alt="booster breaker" class="how_to_play_boosters_item_im" width="118" height="120">
                        </div>
                        <hgroup class="how_to_play_boosters_item_h_p_box">
                            <h4 class="subtitle how_to_play_boosters_item_title">Smart Breaker</h4>
                            <p class="how_to_play_boosters_item_text">Remove one tile of your choice — great for escaping
                                tile traps</p>
                        </hgroup>
                    </li>
                </ul>
                <p class="how_to_play_boosters_text how_to_play_boosters_text_bottom">Boosters are awarded as you
                    progress, so players can develop strategies without relying on purchases. Their usage is
                    designed to empower thoughtful gameplay, not bypass it</p>
            </div>
            <div class="how_to_play_event_box"></div>
            <div class="how_to_play_pressure_box"></div>
            <div class="how_to_play_who_its_box"></div>
        </div>
    </div>
</section>