<section class="screen-section" id="Screenshorts" data-section>
  <div class="container">
    <div class="accordeon_element" data-accordeon>
      <h2 class="section_title">Screenshorts</h2>
      <button class="accordeon_element_btn" data-type="open">
        <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
          <use href="/img/sprite.svg#accordeon_open"></use>
        </svg>
      </button>
      <button class="accordeon_element_btn" data-type="close" style="display: none">
        <svg class="accordeon_element_btn_icon" width="66" height="66" viewBox="0 0 32 32">
          <use href="/img/sprite.svg#accordeon_close"></use>
        </svg>
      </button>
    </div>

    <div class="screen-gallery accordeon-content" data-visible-section="false">
      <ul class="screen-gallery-list">
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/Rectangle39mob1x.webp" srcset="
              /img/screenshorts/Rectangle39mob1x.webp 1x,
              /img/screenshorts/Rectangle39mob2x.webp 2x
            " alt="screenshort game 1" />
        </li>
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/photo_10_2025-06-12_19-35-55mob1x.webp" srcset="
              /img/screenshorts/photo_10_2025-06-12_19-35-55mob1x.webp 1x,
              /img/screenshorts/photo_10_2025-06-12_19-35-55mob2x.webp 2x
            " alt="screenshort game 2" />
        </li>
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/Rectangle38mob1x.webp" srcset="
              /img/screenshorts/Rectangle38mob1x.webp 1x,
              /img/screenshorts/Rectangle38mob2x.webp 2x
            " alt="screenshort game 3" />
        </li>
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/image56mob1x.webp" srcset="
              /img/screenshorts/image56mob1x.webp 1x,
              /img/screenshorts/image56mob2x.webp 2x
            " alt="screenshort game 4" />
        </li>
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/Rectangle40mob1x.webp" srcset="
              /img/screenshorts/Rectangle40mob1x.webp 1x,
              /img/screenshorts/Rectangle40mob2x.webp 2x
            " alt="screenshort game 5" />
        </li>
        <li class="screen-gallery-item">
          <img class="screen-img" src="/img/screenshorts/image57mob1x.webp" srcset="
              /img/screenshorts/image57mob1x.webp 1x,
              /img/screenshorts/image57mob2x.webp 2x
            " alt="screenshort game 6" />
        </li>
      </ul>
    </div>
  </div>
</section>