:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #275562;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.first_title {
  font-family: 'Fredoka One', cursive;
  font-size: 36px;
  line-height: 58px;
}
.section_title {
  font-family: 'Fredoka One', cursive;
  color: #fbfef9;
  font-size: 36px;
  line-height: 58px;
}

.third_title {
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
  line-height: 39px;
}

.subtitle {
  font-family: 'Fredoka', sans-serif; 
  font-size: 20px;
  line-height: 34px;
}

.button_text {
  font-family: 'Fredoka', sans-serif; 
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width: 1200px) {
  .third_title {
    font-size: 36px;
    line-height: 44px;
  }

  .section_title {
    font-size: 40px;
    line-height: 44px;

  }

  .first_title {
    font-size: 48px;
    line-height: 44px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 34px;
  }
}