.contact-section {
  margin-top: 32px;
  margin-bottom: 32px;
}
.contact-about[data-visible-section='false'] {
  display: none;
}

.contact-about[data-visible-section='true'] {
  display: block;
}

.contact-p {
  color: #fbfef9;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.contact-email-container {
  display: flex;
  color: #fbfef9;
  margin: 16px auto;

  flex-direction: row;
  justify-content: space-between; /* або flex-start */
  align-items: stretch;
  width: 100%;
  max-width: 100%;

  flex-wrap: nowrap;
}
.contact-gallery,
.contact-email {
  margin: 0;
  padding: 0;
}

.contact-gallery {
  position: relative;
  background-color: #df9d91;
  border-radius: 45px;
  width: 100%;
  height: 220px;
  z-index: 2;

  flex: 1 1 50%;
  max-width: 50%;
  flex: 0 0 auto;
}
.contact-email {
  background: #3b3074;

  height: auto;
  top: 62px;
  box-sizing: border-box;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  z-index: 1;
  display: flex;
  padding: 27px 150px 27px 10px;
  flex: 1 1 50%;
  max-width: 50%;
  flex: 0 0 auto;
  width: auto;
  /* align-items: center; */
}
.contact-email-text {
  /* margin-left: 5px; */

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.contact-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
.contact-p-mob-only {
  display: block;
}
.contact-p-desk-only {
  display: none;
}
@media only screen and (min-width: 1200px) {
  section.contact-section.section--closed {
    background: none !important;
  }

  .contact-section {
    background: linear-gradient(
      to bottom,
      #275562 0%,
      #275562 66.66%,
      #8dfeff 66.66%,
      #8dfeff 100%
    );
    padding-bottom: 64px;
    margin-bottom: 0;
  }

  .contact-gallery {
    position: relative;
    width: 516px;
    height: 507px;
    overflow: visible;

    flex: 1 1 50%;
    max-width: 50%;
  }
  .contact-img {
    position: absolute;
    top: -60px;
    left: 79px;
    width: 352px;
    height: 567px;
    object-fit: cover;
  }
  .contact-content {
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 44px;
  }

  .contact-p {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 24px;
    margin-bottom: 45px;
  }
  .contact-email-container {
    position: flex;
    margin: 0;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 32px; */
  }
  .contact-email {
    position: static;
    width: 402px;
    height: auto;
    bottom: 0px;
    right: 90px;
    justify-content: space-between;

    padding: 24px 26px 24px 26px;
    flex-direction: column;
    max-width: none;
    flex: 0 0 auto;
  }
  .contact-email-text {
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0%;
  }
  .contact-p-mob-only {
    display: none;
  }
  .contact-p-desk-only {
    display: block;
  }
}
