/* Styles for Mobile devices */
.container {
  margin: 0 auto;
  width: 288px;
}

section {
  width: 320px;
  padding: 0 16px;
  
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
   width: 1056px;
  }

  section {
    width: 1200px;
    padding: 0 72px;
  }
}

