.font_menu {
  line-height: 27px;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.font_menu:active {
  color: #df9d91;
}
@media only screen and (min-width: 1200px) {
  .font_menu:focus,
  .font_menu:hover {
    color: #df9d91;
  }

  .font_menu:active {
    color: #8DFEFF;
  }
}
/* .accordeon-content {
  max-height: 5000px; 
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-visible-section='false'].accordeon-content {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
} */

.accordeon_element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
}

.section_title,
.accordeon_element_btn_icon {
  transition: color 0.3s ease;
}

.accordeon_element_btn_icon {
  color: #fbfef9;
  width: 40px;
  height: 40px;
  display: block;
}

.accordeon_element:active .section_title,
.accordeon_element:active .accordeon_element_btn_icon {
  color: #8dfeff;
}

.accordeon_element:active::after {
  background-color: #8dfeff;
}

.accordeon_element::after {
  content: '';
  position: absolute;
  bottom: -4px; /* відступ вниз */
  left: 0;
  right: 40px;
  height: 2px;
  width: 236px;
  background-color: #fbfef9;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 1200px) {
  .accordeon_element_btn_icon {
    width: 66px;
    height: 66px;
  }

  .accordeon_element::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 66px;
    width: 966px;
  }
  .accordeon_element {
    margin-bottom: 40px;
    cursor: pointer;
  }

  .accordeon_element:hover .section_title,
  .accordeon_element:focus-within .section_title,
  .accordeon_element:hover .accordeon_element_btn_icon,
  .accordeon_element:focus-within .accordeon_element_btn_icon {
    color: #df9d91;
  }

  .accordeon_element:hover::after,
  .accordeon_element:focus-within::after {
    background-color: #df9d91;
  }
}
