.header {
  background-color: #8dfeff59;
  padding: 18px 16px;
  z-index: 999;
  position: sticky;
}
.header[data-visible-header='false'] {
  display: none;
}

.nav {
  display: none;
}

.header_logo {
  width: 32px;
  height: 32px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  object-position: center 35%;
}

.header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_mobile_menu_button {
  padding: 8px 4px;
}

.header_mobile_menu_button:active, .nav {
  fill: #8DFEFF;
}

@media only screen and (min-width: 1200px) {
  .header_mobile {
    display: none;
  }
  .header {
    display: block !important;
    padding: 31px 72px 39px;
    margin-top: 8px;
    position: relative; /* потрібне для абсолютного позиціонування всередині */
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header_nav_left,
  .header_nav_right {
    display: flex;
    gap: 48px;
  }

.nav_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 403.5px;
  height: 105px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_center_shape {
  margin-top: 3.5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 403.5px;
  height: 105px;
  display: block;
  fill: #275562;
  z-index: -1;
  pointer-events: none;
}

.nav_center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

  .header_logo {
    width: 56px;
    height: 56px;
  }

  .header_game_name {
    color: #fbfef9;
  }

  .header_menu_item {
    color: #0c1729;
  }
  .header_mobile_menu_button:hover {
    fill: #DF9D91;
  }
}
