.header {
  background-color: #8dfeff59;
  padding: 18px 16px;
}

.nav { 
  display: none;
}

.header_logo {
  width: 32px;
  height: 32px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  object-position: center 35%;
}

.header_mobile {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
  .header_mobile {
    display: none;
  }
  .header {
    padding: 31px 72px 39px;
    margin-top: 8px;
    position: relative; /* потрібне для абсолютного позиціонування всередині */
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header_nav_left,
  .header_nav_right {
    display: flex;
    gap: 48px;
  }

  .nav_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 403.5px;
    height: 105px;
    background: #275562;
    clip-path: polygon(0% 0%, 100% 0%, 87.5% 100%, 12.5% 100%);
    border-radius: 10px;
    z-index: 1; 
  }


  .header_logo {
    width: 56px;
    height: 56px;
  }

  .header_game_name {
    color: #fbfef9;
  }

  .header_menu_item {
    color: #0c1729;
  }
}
