.hero-section {
  margin-bottom: 64px;

  padding-top: 32px;
  text-align: center;
}
.hero-section .container {
  position: relative;
}

.title-hero {
  color: #fbfef9;
  margin-bottom: 20px;
  font-size: 36px;
}
.p-hero {
  color: #fbfef9;
  margin-bottom: 24px;
}

.button-hero {
  display: flex;
  background: #fff77d;
  height: 72px;
  width: 288px;
  border-radius: 18px;

  line-height: 24px;
  letter-spacing: 0%;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-bottom: 24px;
}
.hero-icon {
  padding-right: 5.5px;
}

.hero-box {
  background: #8dfeff;
  border-radius: 15px;
  padding: 16px 29px;
  width: 288px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;

  z-index: 3;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-gallery {
  display: flex;
  position: relative;
  width: 288px;
  height: 311px;
}
.hero-img {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.img-1 {
  z-index: 1;
  width: 163px;
  height: 290px;

  transform: rotate(-7.97deg);
  position: absolute;
  left: 0;
  top: 0;
}

.img-2 {
  z-index: 2;
  width: 135px;
  height: 240px;
  transform: rotate(7.96deg);
  position: absolute;
  left: 120.5px;
  top: 54.24px;
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 58px;
    padding-bottom: 78px;
    margin-bottom: 72px;
  }

  @media only screen and (min-width: 1200px) {
    .title-hero.first_title span::after {
      content: "";
      display: block;
    }
  }

  .hero-left {
    text-align: left;
    margin-bottom: 48px;
  }
  .p-hero {
    line-height: 24px;
    width: 516px;
    margin-bottom: 0;
  }

  .hero-box {
    position: initial;
    transform: unset;
    font-size: 20px;
    width: 368px;
    text-align: center;
  } 
  
  .button-hero {
    width: 246px;
    justify-content: center;
    margin-bottom: 0px;
  }
  .button-div-hero {
    box-sizing: border-box;
    display: flex;
    width: 696px;
    align-items: center;
    position: relative;
    gap: 24px;
    z-index: 3;
  }

  .hero-gallery {
    height: 470.8px;
    position: absolute; 
    top: -30px;
    left: 636px;
  }
  .img-1 {
    width: 246px;
    height: 439px;

  }

  .img-2 {
    width: 203.88px;
    height: 363.84px;
    top: 82.13px;
    left: 181.74px;
  }
}
