.hero-section {
  margin-bottom: 32px;

  margin-top: 32px;
  text-align: center;
}

.title-hero {
  color: #fbfef9;
  margin-bottom: 20px;
}
.p-hero {
  color: #fbfef9;
  margin-bottom: 24px;
}

.button-hero {
  display: flex;
  background: #fff77d;
  height: 72px;
  width: 288px;
  border-radius: 18px;

  font-size: 400;
  line-height: 29px;
  letter-spacing: 0%;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
}
.hero-icon {
  padding-right: 5.5px;
}
.hero-box {
  background: #8dfeff;
  border-radius: 15px;
  height: 104px;
  width: 288px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 32px;

  margin-top: 180px;
  z-index: 3;
  position: absolute;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-gallery {
  display: flex;
  position: relative;
  width: 288px;
  height: 311px;
}
.hero-img {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: auto;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.img-1 {
  z-index: 1;
  width: 163px;
  height: 290px;

  transform: rotate(-7.97deg);
  position: absolute;
  left: 0;
  top: 0;
}

.img-2 {
  z-index: 2;
  width: 135px;
  height: 240px;
  transform: rotate(7.96deg);
  position: absolute;
  left: 120.5px;
  top: 54.24px;
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    display: flex;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin-bottom: 20px;
  }
  .hero-left {
    width: 606px;
    height: 496px;
    text-align: left;
  }
  .title-hero {
    margin-top: 58px;
    margin-bottom: 20px;
  }
  .p-hero {
    font-size: 400;
    line-height: 24px;
  }
  .button-hero {
    margin-top: 64px;
    justify-content: center;
  }
  .button-div-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 16px;
    z-index: 3;
  }
  .hero-box {
    height: 104px;
    width: 426px;
    margin-top: 48px;
    margin-left: 24px;
    transform: translateX(-80%);
    position: relative;
  }
  .hero-gallery {
    width: auto;
    height: 470.8px;
    margin-top: 25.02px;
    margin-right: 21.07px;
  }
  .hero-img {
    left: 50%;
    /* transform: translateX(-50%); */
  }
  .img-1 {
    width: 246px;
    height: 439px;

    transform: translateX(-50%) rotate(-8deg);
  }

  .img-2 {
    width: 203.88px;
    height: 363.84px;
    transform: translateX(60%) rotate(8deg);
    top: 82.13px;
    left: 181.74px;
  }
}
