.how_to_play_section_content[data-visible-section='false'] {
  /* display: none ; */
}

.how_to_play_section_content {
  position: relative;
  /* margin-bottom: 120px; */
}

.how_to_play_box_title {
  color: #fbfef9;
  text-align: center;
  margin-bottom: 33px;
}

.how_to_play_box_swiper_button_next {
  transform: rotate(180deg);
}

.how_to_play_box_swiper_button_next,
.how_to_play_box_swiper_button_prev {
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: white;
  background-color: white;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.how_to_play_box_swiper_pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
}

/* Змінено: Контейнер Swiper */
.how_to_play_box_swiper {
  position: relative;
  height: 256px;
  overflow: hidden;
  width: 100%;
}

/* Додано: Адаптивні зображення в слайдері */
.how_to_play_box_swiper_slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: contain;
}

/* Змінено: Абсолютне позиціонування навігації */
.how_to_play_box_swiper_navigation_box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.how_to_play_slider_title,
.how_to_play_slider_paragraph {
  color: #fbfef9;
}

.how_to_play_slider_text {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  line-height: 24px;

}

.how_to_play_slider_title {
  font-weight: 500;
  text-align: center;
}
.how_to_play_slider_paragraph {
  text-align: center;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  /* Приховуємо мобільну навігацію на десктопі */
  .how_to_play_box_swiper_navigation_box {
    /* display: none; */
    margin: 0 auto;
  }

  .how_to_play_box_swiper {
    position: relative;
    height: 288px;
    overflow: visible;
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .how_to_play_swiper {
    width: 100%;
    overflow: visible;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: 337px !important;
    height: 234px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(0.73);
  }

  .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
  }

  .how_to_play_box_swiper_button_prev,
  .how_to_play_box_swiper_button_next {
    position: absolute;
    top: -184px;
  }

  .how_to_play_box_swiper_button_prev {
    left: -90px;
  }

  .how_to_play_box_swiper_button_next {
    right: -90px;
    top: -194px;
  }

  .how_to_play_box_swiper_pagination {
    position: absolute;
    /* bottom: -50px; */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }

  .how_to_play_slider_text {
    margin-top: 20px;
    line-height: 24px;
  }

  .icon-Vector-3 {
    width: 66px;
    height: 66px;
  }

  .how_to_play_slider_title {
    font-weight: 500;
    text-align: center;
    width: 437px;
    margin: 0 auto;
  }

  .how_to_play_slider_paragraph {
    width: 876px;
    text-align: center;
  }
  .how_to_play_box {
    /* margin-bottom: 64px; */
  }
}

.how_to_play_addictive_gameplay_box_text_left {
  margin-bottom: 20px;
}

.how_to_play_addictive_gameplay_box_images_list {
  /* display: flex; */
  position: relative;
  height: 373px;
  margin-bottom: 24px;
}

.how_to_play_addictive_gameplay_box_image {
  position: absolute;
  width: 170px;
  height: 245px;
  object-fit: cover;
  display: block;
}

.how_to_play_addictive_gameplay_box_image:nth-child(2) {
  top: 50px;
  left: 105px;
}

.how_to_play_addictive_gameplay_box_image:nth-child(3) {
  left: 34px;
  top: 121px;
  width: 180px;
  height: 250px;
  object-fit: cover;
  display: block;
}

.how_to_play_addictive_gameplay_box_text {
  color: #fbfef9;
  text-align: center;
  line-height: 24px;
}

.how_to_play_addictive_gameplay_box_title {
  margin-top: 64px;
  color: #fbfef9;
  text-align: center;
  margin-bottom: 46px;
}

.how_to_play_addictive_gameplay_box {
  padding: 20px 0;
  position: relative;
  margin-bottom: 32px;
}

.how_to_play_addictive_gameplay_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: url('/img/how_to_play/addictive_background_mobile_icon.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 1193px;
  z-index: -1;
}

@media only screen and (min-width: 1200px) {
  .how_to_play_addictive_gameplay_box {
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 61px;
  }

  .how_to_play_addictive_gameplay_box_text_images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
  }

  .how_to_play_addictive_gameplay_box_images_list {
    position: relative;
    min-width: 250px;
    margin-bottom: 0;
  }

  .how_to_play_addictive_gameplay_box_image {
    position: absolute;
    width: 170px;
    height: 245px;
    object-fit: cover;
    display: block;
  }

  .how_to_play_addictive_gameplay_box_image:nth-child(2) {
    top: 50px;
    left: 105px;
  }

  .how_to_play_addictive_gameplay_box_image:nth-child(3) {
    left: 0px;
    top: 121px;
    width: 180px;
    height: 250px;
  }

  /* Обмежте ширину тексту */
  .how_to_play_addictive_gameplay_box_text {
    width: 334px;
    /* height: 360px; */
    text-align: right;
  }

  .how_to_play_addictive_gameplay_box_text_left {
    text-align: left;
  }

  .how_to_play_addictive_gameplay_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: url('/img/how_to_play/addictive_background_desktop_1.png'),
      url('/img/how_to_play/addictive_background_desktop_2.png');
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;
    /* background-size: auto 1193px, auto 1193px; */
    z-index: -1;
  }
}

.how_to_play_zen_mod_title {
  color: #fbfef9;
  text-align: center;
  margin-bottom: 20px;
}

.how_to_play_zen_mod_text {
  color: #fbfef9;
  text-align: center;
  font-size: 16px;
  line-height: 24px;

}

.how_to_play_zen_mod_text_top {
  margin-bottom: 20px;
}

.how_to_play_zen_mod_text_bottom {
  margin-top: 20px;
}

.how_to_play_zen_mod_image {
  width: 173px;
  height: 189px;
}

.how_to_play_zen_mod_images_list {
  position: relative;
  height: 408px;
}

.how_to_play_zen_mod_image_item {
  position: absolute;
}

.how_to_play_zen_mod_image_item:nth-child(1) {
  top: 0;
  right: 0;
}

.how_to_play_zen_mod_image_item:nth-child(2) {
  top: 89px;
  left: 0;
}
.how_to_play_zen_mod_image_item:nth-child(3) {
  bottom: 0;
  right: 0;
}

.how_to_play_zen_mod_box {
  margin-bottom: 32px;
}

@media only screen and (min-width: 1200px) {
  .how_to_play_zen_mod_images_list {
    gap: 69px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    position: initial;
  }
  .how_to_play_zen_mod_image_item:nth-child(2) {
    margin-top: 72px;
  }

  .how_to_play_zen_mod_image {
    width: 246px;
    height: 269px;
  }

  .how_to_play_zen_mod_image_item {
    position: initial;
  }

  .how_to_play_zen_mod_text_top {
    margin-bottom: 16px;
  }

  .how_to_play_zen_mod_title {
    margin-bottom: 46px;
  }
  .how_to_play_zen_mod_text {
    font-size: 20px;
  }

  .how_to_play_zen_mod_title {
    font-size: 36px;
  }

  .how_to_play_zen_mod_box {
    margin-bottom: 64px;
  }
}

.how_to_play_level_progression_title {
  color: #fbfef9;
  text-align: center;
  margin-bottom: 64px;
}

.how_to_play_level_progression_content_top, .how_to_play_level_progression_content_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 20px;
  margin-bottom: 20px;
}

.how_to_play_level_progression_text {
  color: #fbfef9;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.how_to_play_level_progression_box {
  position: relative;
  padding-bottom: 20px;
  padding-top: 16;
  margin-bottom: 32px;
}
.how_to_play_level_progression_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: url('/img/how_to_play/level_background_element_mobile_bottom.png'),
    url('/img/how_to_play/level_background_element_mobile_top.png');
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  /* background-size: auto 1193px, auto 1193px; */
  z-index: -1;
}

@media only screen and (min-width: 1200px) {
  .how_to_play_level_progression_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: url('/img/how_to_play/level_background_element_bottom.png'),
      url('/img/how_to_play/level_background_element_top.png');
    background-position: bottom, top;
    background-repeat: no-repeat, no-repeat;
    /* background-size: auto 1193px, auto 1193px; */
    z-index: -1;
  }

  .how_to_play_level_progression_content_bottom {
    flex-direction: row-reverse;
    gap: 40px;
  }

  .how_to_play_level_progression_content_top {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 16px;
  }

  .how_to_play_level_progression_text {
    height: 192px;
    font-size: 20px;
    line-height: 24px;
  }

  .how_to_play_level_progression_text_top {
    width: 494px;
    text-align: right;
  }

  .how_to_play_level_progression_text_bottom {
    width: 490px;
    text-align: left;
  }

}
